.header-text {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.tick {
    width: 150px;
    word-wrap: break-word;
    padding: 10px;
}

.tick text {
    word-wrap: break-word;
    padding: 10px;
}

#chart-area{
	height: inherit;
}
.path-hover{
    cursor: pointer;
}

.axis {
    font-size: 13px;
}

.section-heading {
    font-weight: bold;
}